@import "./styles/variables.css";
@import "./styles/fonts.css";

body,
html {
  font-family: var(--font-family);
  background-color: #000;
}

canvas.invert {
  filter: invert(100%);
}

canvas.blur {
  filter: blur(5px);
}
