.debugPanel {
  position: absolute;
  text-align: inherit;
  color: black;
  background: white;
  padding: 20px;
  margin: 10px;
  top: 0;
  border: 2px solid black;
  border-radius: 10px;

  z-index: 4;
}

.debugPanel label {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.debugPanel label select {
  margin-left: 10px;
  text-align: end;
  background-color: salmon;
}
